{% extends "layout.html" %}
{% block title %}Lists{% endblock %}
{% block content %}
    <h1 class="title">Lists</h1>

    {% if lists %}
    <form action="" method="post" name="list_list">
      <table class="table is-striped is-fullwidth">
        {% for list_key, list in lists %}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="list_keys" value="{{ list_key }}"/>
            </label>
            <a href="{{ url_for('list_page', list_key=list_key) }}">
              {{ list.name }}
              {% if list.description %} ({{ list.description }}) {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </form>
    {% else %}
    <h4 class="subtitle">There are no lists.</h2>
    {% endif %}
{% endblock %}