{% extends "layout.html" %}
{% block title %}Edit task{% endblock %}
{% block content %}
    <h1 class="title">Edit task</h1>

    <form action="" method="post" name="task_edit">
      {{ form.csrf_token }}

      <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
          {{ form.name(required=True, autofocus=True, class='input') }}
        </div>
        {% for error in form.name.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="description" class="label">Description (Optional)</label>
        <div class="control">
          {{ form.description(class='input') }}
        </div>
        {% for error in form.description.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="deadline" class="label">Deadline (Optional)</label>
        <div class="control">
          {{ form.deadline(type='date') }}
        </div>
        {% for error in form.deadline.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="status" class="label">Status</label>
        <div class="control">
          {{ form.status(class='input is-hidden') }}
          <div class="select is-rounded">
            <select id="selectStatus" onChange='document.getElementById("status").value = this.value'>
              <option value=0>To do</option>
              <option value=1>Done</option>
              <option value=2>In progress</option>
              <option value=3>Stopped</option>
            </select>
          </div>
        </div>
        {% for error in form.status.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="assign" class="label">Assign (Optional)</label>
        <div class="control">
          {{ form.assign(class='input') }}
        </div>
        {% for error in form.assign.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="location" class="label">Location (Optional)</label>
        <div class="control">
          {{ form.location(class='input') }}
        </div>
        {% for error in form.location.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
      </div>

      <div id="shareDiv" class="field">
        <label for="share" class="label">Share (Optional)</label>
        {% for error in form.share.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
        {% endfor %}
        <div class="field has-addons">
          <div class="control">
            {{ form.share(class='input is-hidden', value=0) }}
            <input id="shareInput" type="text" class="input">
          </div>
          <div onclick="appendItem()" class="control">
            <a class="button is-primary">
              <span class="icon is-large">
                <i class="fas fa-plus"></i>
              </span>
            </a>
          </div>
        </div>
        {% if task_share %}
          {% for username in task_share %}
            <div class="field has-addons">
              <div class="control">
                <input type="text" name="username" class="input is-hovered is-focused" value={{username}} disabled>
              </div>
              <div onclick="removeItem(this)" class="control">
                <a class="button is-light">
                  <span class="icon has-text-danger is-large">
                    <i class="fas fa-times"></i>
                  </span>
                </a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
    <script>
      const options = {displayMode: "inline", showHeader: "false", weekStart: 1, dateFormat: "YYYY-MM-DD"}
      const calendars = bulmaCalendar.attach('[type="date"]', options);

      document.getElementById('share').value = "";

      $(document).ready(function(){
        var status = document.getElementById('status').value;
        if (status) {
          $("#selectStatus").val(status);
        } else {
          $("#selectStatus").val(0);
          $("#status").val(0);
        }

        var usernames = document.getElementsByName('username');
        for (i = 0; i < usernames.length; i++) {
          document.getElementById('share').value += usernames[i].value + ",";
        }
      });

      function appendItem()  {
        var input = document.getElementById("shareInput").value;
        document.getElementById('share').value += input + ",";
        var container = document.getElementById("shareDiv");
        var newRow = document.createElement("div");
        newRow.className = "field has-addons";
        newRow.innerHTML = '<div class="control"><input type="text" class="input is-hovered is-focused" value="' + input + '" disabled></div><div onclick="removeItem(this)" class="control"><a class="button is-light"><span class="icon has-text-danger is-large"><i class="fas fa-times"></i></span></a></div>';
        container.appendChild(newRow);
      }
      function removeItem(self)  {
        var value = self.parentElement.getElementsByTagName('input')[0].value;
        var list = document.getElementById('share').value.split(',');
        list.splice(list.indexOf(value), 1 );
        document.getElementById('share').value = list.join(", ")
        self.parentElement.remove();
      }
    </script>
{% endblock %}