{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <h1 class="title">Tasks</h1>

    {% if tasks or shared_tasks %}
    <h6>You can click on name to edit the task.</h6>
    <form action="" method="post" name="task_list">
      {% if tasks %}
      <h4 class="subtitle">My Tasks:</h4>

      <table class="table is-bordered is-fullwidth">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Assign</th>
          <th>Location</th>
        </tr>
        {% for task_key, task in tasks %}
        <tr class="{% if task.status == 1 %}is-selected
                   {% elif task.status == 2 %}is-selected-yellow
                   {% elif task.status == 3 %}is-selected-red{% endif %}">
          <td>
            <label class="checkbox">
              <input type="checkbox" name="task_keys" value="{{ task_key }}"/>
            </label>
            <a href="{{ url_for('task_page', task_key=task_key) }}">
              {{ task.name }}
            </a>
          </td>
          <td>
            {% if task.description %}{{ task.description }}{% endif %}
          </td>
          <td>
            {% if task.deadline %}{{ task.deadline }}{% endif %}
          </td>
          <td>
            {% if task.assign %}{{ task.assign }}{% endif %}
          </td>
          <td>
            {% if task.location %}{{ task.location }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      {% if shared_tasks %}
      <h4 class="subtitle">Shared Tasks</h4>

      <table class="table is-bordered is-fullwidth">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Assign</th>
          <th>Location</th>
        </tr>
        {% for task_key, task in shared_tasks %}
        <tr class="{% if task.status == 1 %}is-selected
                   {% elif task.status == 2 %}is-selected-yellow
                   {% elif task.status == 3 %}is-selected-red{% endif %}">
          <td>
            <label class="checkbox">
              <input type="checkbox" name="task_keys" value="{{ task_key }}"/>
            </label>
            <a href="{{ url_for('task_page', task_key=task_key) }}">
              {{ task.name }}
            </a>
          </td>
          <td>
            {% if task.description %}{{ task.description }}{% endif %}
          </td>
          <td>
            {% if task.deadline %}{{ task.deadline }}{% endif %}
          </td>
          <td>
            {% if task.assign %}{{ task.assign }}{% endif %}
          </td>
          <td>
            {% if task.location %}{{ task.location }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </form>
    {% else %}
    <h4 class="subtitle">There are no tasks.</h4>
    {% endif %}
{% endblock %}