{% extends "layout.html" %}
{% block title %}Task{% endblock %}
{% block content %}
    <h1 class="title">Task</h1>

    <table class="table">
      <tr>
        <th>Name:</th>
        <td>{{ task.name }}</td>
      </tr>
      {% if task.description %}
      <tr>
        <th>Description:</th>
        <td>{{ task.description }}</td>
      </tr>
      {% endif %}
        {% if task_share %}
      <tr>
        <th>Shared:</th>
        <td>
            {% for username in task_share %}
                <li>{{ username }}</li>
            {% endfor %}
        </td>
      </tr>
        {% endif %}
    </table>

    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
      </div>
    </div>
    {% endif %}
{% endblock %}